body {
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

a.main-button, button.main-button {
    font-size: 22px;
    background: rgba(17,114,196, 0.3);
    color: white;
    border-color: white;
    position: absolute;
    z-index: 3;
}

audio {
    display: none;
}

a {
    text-decoration: none;
}