a, button {
    cursor: pointer;
    outline: none;
}
a.outline, button.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}
a.outline:hover, button.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}
a.outline:active, button.outline:active {
    border-radius: 22px;
}
a.white-blue, button.white-blue {
    font-weight: 700;
    color: #00aeef;
    border-color: white;
    background: white;
}
a.white-blue:hover, button.white-blue:hover {
    color: white;
    background: #00aeef;
    border-color: white;
}
a.white-green, button.white-green {
    font-weight: 700;
    color: #7dc21e;
    border-color: white;
    background: white;
}
a.white-green:hover, button.white-green:hover {
    color: white;
    background: #7dc21e;
    border-color: white;
}
a.green-white, button.green-white {
    font-weight: 700;
    color: #7dc21e;
    border-color: #7dc21e;
    background: transparent;
}
a.green-white:hover, button.green-white:hover {
    color: white;
    background: #7dc21e;
    border-color: #7dc21e;
}
a.purple-white, button.purple-white {
    font-weight: 700;
    color: #664e96;
    border-color: #664e96;
    background: transparent;
}
a.purple-white:hover, button.purple-white:hover {
    color: white;
    background: #664e96;
    border-color: #664e96;
}
a.white-purple, button.white-purple {
    font-weight: 700;
    color: #664e96;
    border-color: white;
    background: white;
}
a.white-purple:hover, button.white-purple:hover {
    color: white;
    background: #664e96;
    border-color: white;
}
